
{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="home_left_img">
                                <img src={% static "portfolio/img/profile.png"%} alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {% if wes %}
                                <div class="banner_content">
                                    <h2>{{ wes.profile.name }}</h2>
                                    <div>
                                        <i class="fa fa-github" style=";color:black"></i>  <a href={{ wes.profile.github_url|safe }}>Github</a>
                                        <i class="fa fa-linkedin" style=";color:black"></i>  <a href={{ wes.profile.linkedin_url|safe }}>Linkedin</a>
                                    </div>
                                    <p>{{ wes.profile.description}}</p>
{#                                      uncomment this line if you want to upload you resume#}
{#                                    <a class="banner_btn" href="{{wes.profile.cv_link.url}}" download>Resume</a>#}
                                      <a class="banner_btn" href="https://docs.google.com/document/d/1_E71darfvZ--6YrtnCfKTYVjuuOqInXQNOlMBBxYnEw/edit?usp=sharing
" download>Resume</a>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <!--================Projects Area =================-->
    <section class="projects_area p_120" >
        <a name="projects_area_id"> </a>
        <div class="container">
            <div class="main_title">
                <h2>TAKE A LOOK AT MY PROJECTS</h2>
                <p>This is a selection of some projects that we have been working on.</p>
            </div>
            <div class="projects_inner row">

                {% for project in projects %}
                    <div class="col-lg-4 col-sm-6 brand web">
                        <div class="projects_item">
                            <a href={% url 'project_detail' project.pk %}>
                                <img class="img-fluid" src="{{ project.image.url }}" alt="">
                            </a>

                        </div>
                        <div class="projects_text">
                            <a href={% url 'project_detail' project.pk %}><h4 style="color: #1A171B">{{ project.title }}</h4></a>
                            <p>{{ project.description|striptags|truncatechars:30}}</p>
                        </div>
                        <div class="mh-about-tag">
                            <ul>
                                {% for tech in project.tech_and_tools.values %}
                                    <li><span>{{ tech.name }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--================End Projects Area =================-->


        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
            <a name="testimonials_area_id"> </a>

        	<div class="container">
        		<div class="main_title">
        			<h2>WHAT THE PEOPLE TELL ABOUT ME?</h2>
        			<p>Do you want to know what people who already work with me say about me?</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
                        {% for review in reviews %}
                            <div class="item">
                                <div class="testi_item">
                                    <p>{{ review.body }}</p>
                                    <h4>{{ review.author }}</h4>
                                    {% with ''|center:review.score as range %}
                                        {% for _ in range %}
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endfor %}
        		</div>
        	</div>
            </div>

            <div class="testimonials_area p_120 container">
                <h1 class="text-center">Have you worked with me? Add your review here.</h1>
                <div class="col-lg-6 offset-lg-3">
                       <div class="row justify-content-center">
                        <form action="/portfolio/"  method="post">
                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                <input type="radio" id="star5" name="score" value="5" /><label for="star5" title="5 star"></label>
                                <input type="radio" id="star4" name="score" value="4" /><label for="star4" title="4 star"></label>
                                <input type="radio" id="star3" name="score" value="3" /><label for="star3" title="3 star"></label>
                                <input type="radio" id="star2" name="score" value="2" /><label for="star2" title="2 star"></label>
                                <input type="radio" id="star1" name="score" value="1" /><label for="star1" title="1 star"></label>
                            </div>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.author }}
                            </div>
                            <div class="form-group">
                                {{ form.body }}
                            </div>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                       </div>
                    </div>
                </div>

        </section>
        <!--================End Testimonials Area =================-->

    <style>

        /* Styling h1 and links
        ––––––––––––––––––––––––––––––––– */
        .starrating > input {display: none;}  /* Remove radio buttons */

        .starrating > label:before {
          content: "\f005"; /* Star */
          margin: 2px;
          font-size: 4em;
          font-family: FontAwesome;
          display: inline-block;
          display: inline-block;
        }

        .starrating > label
        {
          color: #222222; /* Start color when not clicked */
        }

        .starrating > input:checked ~ label
        { color: #ffca08 ; } /* Set yellow color when star checked */

        .starrating > input:hover ~ label
        { color: #ffca08 ;  } /* Set yellow color when star hover */


    </style>

{% endblock %}

